:root{
  --black: #1f1f1f;
  --againhovercolor: #ba1414;
}
button{
  border: none;
  background: none;
  font-family: 'Oswald', sans-serif;
  font-size: 3em;
}
button:hover{
  color: var(--againhovercolor);
  cursor: pointer;
}

#page_con{
  height: 100vh;
  width: 100vw;
  display: flex;
  overflow: hidden;
  cursor: default;
  font-size: clamp(10px, 1.2vw, 16px);
}


#sidebar{
  writing-mode: vertical-lr;
  font-size: 2em;
  padding: .5em .15em;
  transform: rotate(180deg);
  background: var(--black);
  color: white;
  display: flex;
  justify-content: space-between;
}
#score{
  white-space: nowrap;
}
h2{
  cursor: pointer;
}
#back_btn{
  margin-left: .5em;
    font-size: 1em;

}

#buttons_con, #results_con{
  flex: 1;
  display: flex;
}
.choice_btn, .choice_div{
  flex: 1;
/*   border: none; */
  background: no-repeat center 120%/70%;
}
.choice_btn:hover{
  background: no-repeat center 120%/71% url(images/hand_rock.png), url(images/rock.svg);
}
#rock{
  background-image: url(images/hand_rock.png);
}
#rock:hover{
  background-image: url(images/hand_rock.png), url(images/rock.svg);
}
#paper{
   background-image: url(images/hand_paper.png);
}
#paper:hover{
   background-image: url(images/hand_paper.png), url(images/paper.svg);
}
#scissors{
   background-image: url(images/hand_scissors.png);
}
#scissors:hover{
  background-image: url(images/hand_scissors.png), url(images/scissors.svg);
}
.hand-animate-out, .hand-animate-in{
  animation-name: hand-out;
  animation-duration: .8s;
}
.hand-animate-in{
  animation-direction: reverse;
}

@keyframes hand-out{
  0%{
    background-repeat: no-repeat, repeat;
    background-size: 70%, 100%;
    background-position-y: 120%, 0;
  }
  30%{
    background-position-y: 100%, 0;
  }
  100%{
    background-repeat: no-repeat, repeat;
    background-size: 70%, 100%;
    background-position-y: 100vh, 0;
  }
}

#results_div{
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  flex: .6;
}
#menu_div_div{
  flex: 1;
}
#menu_div{
  z-index: 2;
  position: absolute;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  margin: auto;
  inset: 0 0 0 0;
  padding-left: 3em;
  padding-right: 1.5em;
  height: 100%;
}
#player-choice{
  background-image: url(images/hand_rock.png);
}
.margin-left{
  margin-left: 5%;
}
#computer-choice{
  background-image: url(images/hand_scissors.png);
  transform: rotate(180deg);
}
.margin-right{
  margin-right: 5%;
}
#result-text, h1{
  grid-row: 3;
  margin: auto;
  font-size: 5em;
  white-space: nowrap;
}
h1{
  font-size: 4em;
}
#round-buttons_con{
  grid-row: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
}
#results_div button{
  grid-row: 4;
}
#custom-input_div{
  grid-row: 4;
  font-size: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5em;
}
label{
  font-family: 'Oswald', sans-serif;
}
input{
  height: 1.5em;
  width: 2em;
  font-size: 1em;
  text-align: center;
  -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#custom-start_btn{
  padding-left: 1em;
  font-size: 1em;
}

.hide{
  display: none !important;
}

footer{
  padding: .4em .1em;
  background: var(--black);
  color: white;
  height: 100%;
  writing-mode: vertical-lr;
}